/*Font from fontsquirrel: https://www.fontsquirrel.com/fonts/alatsi*/
@font-face {
    font-family: 'Alatsi-Regular';
    src: url('../fonts/Alatsi-Regular.ttf');}
* {
    font-family: 'Alatsi-Regular';
    background-color: rgb(255, 255, 255);}
h1 {
    font-size: 75px;
    color: #776E81;
    text-align: center;
    margin: 0;
    padding: 0;
}
   
h2 {
    color: #776E81;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
table {
    background-color: #CEE0DD;
    text-align: center;}
td {
    background-color: #CEE0DD;}

/*MENU BAR*/
ul.menu_bar {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

li.menu_item {
    float: left;
}

a.menu_block {
    display: block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #dddddd;
}

a.menu_block_first {
    display: block;
    padding: 10px;
    padding-right: 40px;
    background-color: #dddddd;
}

a.menu_block_last {
    display: block;
    padding: 10px;
    padding-left: 40px;
    background-color: #dddddd;
}
/* tr.bcembed { */
/*     table-layout: fixed; */
/*     width: 500px; */
/*     height: 120px;} */
/* tr.scembed { */
/*     table-layout: fixed; */
/*     width: 500px; */
/*     height: 120px;} */
/* tr.audembed { */
/*     table-layout: fixed; */
/*     width: 500px; */
/*     height: 120px;} */

.ball {
    float: left;
}
