/*Font from fontsquirrel: https://www.fontsquirrel.com/fonts/alatsi*/
@font-face {
    font-family: 'Alatsi-Regular';
    src: url('alatsi/Alatsi-Regular.ttf');}
* {
    font-family: 'Alatsi-Regular';}
body {
    background-color: rgb(240, 225, 164);}
h1 {
    color: #A3684D;
    text-align: center;}
h2 {
    color: #A3684D;}
table {
    background-color: #CEE0DD;
    text-align: center;}
tr.bcembed {
    table-layout: fixed;
    width: 500px;
    height: 120px;}
tr.scembed {
    table-layout: fixed;
    width: 500px;
    height: 120px;}
tr.audembed {
    table-layout: fixed;
    width: 500px;
    height: 120px;}

